---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Hello there 👋";
const identity = {
  firstName: "Nicolas",
  country: "France",
  occupation: "Software Engineer",
  hobbies: ["music", "motorcycle", "ctf"],
};

const skills = ["Dev", "Sec", "Ops"];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: green;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h2>... and Welcome.</h2>
      <p>
        This dev blog is here to showcase my journey into the dev world, and
        more.
      </p>
      <p>Here are a few facts about me:</p>
      <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
          I live in {identity.country} and I work as a {identity.occupation}.
        </li>
        {
          identity.hobbies.length >= 2 && (
            <li>
              Two of my hobbies are: {identity.hobbies[0]} and{" "}
              {identity.hobbies[1]}
            </li>
          )
        }
      </ul>
      <p>My skills are:</p>
      <ul>
        {skills.map((skill) => <li class="skills">{skill}</li>)}
      </ul>
    </BaseLayout>
  </body>
</html>
