---
import BaseLayout from "./BaseLayout.astro";
import TableOfContent from "../components/TableOfContent.astro";
import convertHtml from "../tools/convertHTML";
import "remark-github-blockquote-alert/alert.css";
import Tag from "../components/Tag.astro";

const { title, pubDate, theme, tags } = Astro.props.frontmatter;
const { minutesRead, headings, html } = Astro.props;
---

<BaseLayout pageTitle={title}>
    <TableOfContent headings={headings} />
    <div class="info">
        <p>
            {
                pubDate.toLocaleDateString("en-US", {
                    month: "short",
                    day: "numeric",
                    year: "numeric",
                })
            }
        </p>
        |
        <p>{minutesRead}</p>
        |
        <a href={theme} target="_blank">Theme</a>
    </div>
    <article id="article">
        <Fragment set:html={convertHtml(html)} />
    </article>
    <div class="tags">{tags.map((tag: string) => <Tag link=`/tags/${tag}` value={tag}/>)}</div>
</BaseLayout>
<style>
    a {
        text-decoration: none;
    }
    .info {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: -30px;
    }
    .tags {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 8px
    }
</style>
